#carYear, #carExp, #salePrice {
  width: 80px;
}

#carMake, #carModel {
  width: 200px;
}

#carVin {
  width: 250px;
}

#carPlate, #lot {
  width: 120px;
}

.form-area {
  padding: 50px;
}

.col {
  padding: 5px;
  margin: 0x;
}

thead {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

tbody {
  text-align: center;
}

.title {
  text-align: center;
  padding: 20px;
}